.calendarContainer {
width: 80%;
position: relative;
border: 1px solid;
margin:5px;

.calendarHead{
  width: 100%;
  text-align: center;

  button {
    width: 20%;
  }

  p{
    display:inline-block;
    width:50%;
  }
}
  
tr {
  border: 1px solid;
}

td {
  color: #3F51B5;
  background: #ffffff;
  text-align: center;

  &:not(.disable) {
    &:hover {
      cursor: pointer;
      background-color: #3F51B5;
      color: #ffffff;
    }
  }

  &.weekdays {
    color:#e91e63
  }
}

table {
  //border: 1px solid;
  font-family: 'OpenSans';
  width: 100%;
}

.active:not(.disable) {

  background-color: #00df8b;
  border-radius: 50%;
}

.disable {
  color: grey;
  cursor: not-allowed;
}

}
