tr{
    border:1px solid;
}
td{
   // border:1px solid;
    color: #3F51B5;
    background: #ffffff;
    text-align: center;
}
table{
    border:1px solid;
}
.active {
 //   background-color: #9d96e0;
 background-color: #00df8b; border-radius: 50%;
   
}