tr {
  border: 1px solid;
}

td {
  color: #3F51B5;
  background: #ffffff;
  text-align: center;

  &:not(.disable) {
    &:hover {
      cursor: pointer;
      background-color: #3F51B5;
      color: #ffffff;
    }
  }
}

table {
  border: 1px solid;
  width: 25%;
  font-family: 'OpenSans';
}

.active:not(.disable) {

  background-color: #00df8b;
  border-radius: 50%;
}

.disable {
  color: grey;
  cursor: not-allowed;
}
